<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of getProducts()">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.category}}</td>
            <td>{{p.price | currency: "USD":"symbol":"2.2-2"}}</td>
            <td>
                <button class="btn btn-sm btn-warning m-1" [routerLink]="['/admin/main/products/edit',p.id]">
                    Editar
                </button>
                <button class="btn btn-sm btn-danger m-1" (click)="deleteProduct(p.id)">
                    Elminar
                </button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" routerLink="/admin/main/products/create">
    Crear Nuevo Producto
</button>